
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap');


.col-lg-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .navbar-brand-wrapper {
    background: #ffffff;
    width: 235px;
    height: 60px;
}

.input-group {
    position: relative;
    width: 100%;
}

.form-control {
    height: 45px;
    width: 100%;
    border-radius: 20px;
    padding-right: 40px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    cursor: pointer;
}

a{
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #fe781a;
        font-size: smaller;
        padding-left: 5px;
}
.sideimage{
    .colored-image {
        filter: invert(1) sepia(1) saturate(10000%) hue-rotate(-25deg);
    }   
}

.sidebar{
    margin-left: 30px;
    margin-top: 5px;
}

/* .sideimage{
    filter: invert(1) brightness(2);
} */

.btn2{
    height: 35px;
    border-radius: 10px;
}

.btn-check:checked + .btn2 {
    background-color: white;
    border: none;
}

#colorDiv{
  background-color: rgb(255, 255, 255);
}

/* table */

thead th{
    position: sticky;
    border-collapse: collapse;
}

.table-section{
    height: 350px;
    overflow: auto;
    
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}



@media (max-width: 1024px) {
    .input-group {
        display: none !important;
    }
    .paymentimage{
        margin-bottom: 30px;
    }
}

@media (max-width: 436px) {
    .mob {
        display: none !important;
        
    }
    .third{
      display: none !important;
    }

}

@media (max-width:769px){
    .sidenav{
        display: none !important;
    }
    .forslide{
        display: none !important ;
    }
    .brandlogo{
        margin-left: -10px;
    }
    .navbar{
        margin-left: 40px
    }
}





